*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
footer{
    display: flex;
    position: fixed;
    height: 300px;
    /* z-index: 10; */
    bottom: 0px;
    background-color: blue;
    width: 100%;
}
.box{
    flex-direction: row;
    flex: 30%;
    margin: 10px 20px;
    border: 2px solid white;
    background-color: black;
    height: 250px;
    color: white;
}
footer .left ,.mid{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding:0px 30px;
}
.box h2{
    padding-bottom: 20px;
}
.box h2::after{
    position: absolute;
    content: "";
    height: 4px;
    top: 95px;
    left: 180px;
    width: 50px;
    background-color: green;
}
.socialicons a{
    color: white;
    font-size: 20px;
    padding: 20px 10px;
}

.underline h2{
    position: relative;
    content: "";
    height: 4px;
    top: 95px;
    left: 180px;
    width: 50px;
    background-color: green;
}

