*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
nav{
    position: fixed;
    height: 80px;
    z-index: 10;
    background-color: blue;
    width: 100%;
}
label.logo{
    line-height: 80px;
    color: red;
    font-size: 35px;
    font-weight: bolder;
    padding: 0px 35px;
}
nav ul{
    float: right;
    margin-right: 50px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    /* padding: 0px 20px; */
}
nav ul li a{
    color: white;
    font-size: 20px;
    border-radius: 10px;
    padding: 7px 13px;
    transition: .5s;
}
nav ul li a:hover , nav ul li a.active{
    background-color: black;
    border: 2px solid black;
    border-radius: 100px 10px 100px 10px;
}
#check{
    display: none;
}
.checkbtn{
    display: none;
    float: right;
    line-height: 80px;
    margin-right: 30px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}
@media (max-width:800px){
    .checkbtn{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 40%;
        height: 100vh;
        background-color: blue;
        top: 80px;
        right: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        /* line-height: 30px; */
    }
    #check:checked ~ ul{
        right: -50px;
    }
}

.bg-img{
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 100%;
    padding: 0 300px;
    background: url('../images/03.jpg') rgba(0, 0, 0, 0.5) ;
    /* background-attachment: fixed; */
    color: white;
    background-blend-mode: darken;
    background-size:cover;
    background-repeat: no-repeat;
    padding-top: 10%;
}
.bg-img h1 , p{
    text-align: center;
    justify-content: center;
    margin-top: 10%;
}
.container{
    height: 100vh;
    background-color: rgb(248, 248, 248);
    background-color: aqua;
    width: 100%;
    display: flex;
}
#flex-item{
    margin: 100px 30px;
    border-radius: 5px;
    height: 50%;
}
.flex-item-left{
    flex: 30%;
    flex-direction: row;
    background-color: red;
}
.flex-item-mid{
    flex: 30%;
    flex-direction: row;
    background-color: blue;
}
.flex-item-right{
    flex: 30%;
    flex-direction: row;
    background-color: black;
}
.logo-sm{
    position: relative;
    top: -50px;
    left: 30%;
    z-index: 1;
    height: 120px;
    width: 120px;
    border: 3px solid black;
    border-radius: 150px;
    /* text-align: center; */
    /* justify-content: center; */
}

